.container{

    display: flex;
}

.menu{
    flex: 1;
}

.content{
    flex: 4;
}


.wrapper{
display: flex;
gap: 20px;
}

.main{

    flex: 3;
display: flex;
flex-direction: column;
gap: 20px;
}

.cards{
    display: flex;
    gap: 20px;
    justify-content: space-between;

}


.side{
flex: 1;
}